<h2>New Product</h2>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :cost %>
  <%= f.number_field :cost %>
  <%= f.label :country %>
  <%= f.select :country, ['The United States','China', 'India', 'Brazil'] %>
  <%= f.submit  %>
<% end %>
