<h2>Edit Review</h2>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5).to_a %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.submit  %>
<% end %>
<p><%= link_to "Delete", product_review_path(@product, @review),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>
